#cadre {
    position: relative;
    padding: 60px 30px;
    border: solid black 2px;
    font-size: 20px;
    height: calc(100vh - 40px);
}

th,
td {
    padding: 3px 7px;
    border: solid black 2px;
}